{%extends 'base.html'%}
{% block title %}
Главная 
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<p>Lorem ipsum dolor sit amet.</p>
<p>Nostrum eius expedita nobis sunt.</p>
<p>Quaerat minima vero minus suscipit!</p>
<p>Reprehenderit facere distinctio nesciunt illo!</p>
<p>Sed inventore tempora dolore quibusdam?</p>
<p>Cupiditate similique delectus fugiat. Molestias?</p>
<p>Rerum explicabo quod sequi soluta.</p>
<p>Qui accusamus exercitationem laudantium quibusdam.</p>
<p>Quas sit sapiente eum consequuntur?</p>
<p>Tempore facere neque dicta eligendi.</p>
<p>Reiciendis amet mollitia magnam impedit.</p>
<p>Alias libero culpa quo necessitatibus?</p>
<p>Assumenda quis temporibus architecto asperiores?</p>
<p>Quia beatae labore nesciunt repudiandae!</p>
<p>Enim odit tempora repudiandae laborum?</p>
<p>Cupiditate cumque quo earum facilis?</p>
<p>Aperiam repudiandae atque fugit dignissimos!</p>
<p>Cumque aperiam voluptas magni reiciendis?</p>
<p>Suscipit vero aut maiores fugiat.</p>
<p>Velit adipisci consequuntur laudantium fugiat.</p>
<p>Laudantium ullam deserunt ratione at.</p>
<p>Consequuntur dolorum maiores voluptas quibusdam.</p>
<p>Totam obcaecati laboriosam quaerat expedita!</p>
<p>Facere aliquam nobis eveniet dignissimos?</p>
<p>Sunt quisquam cupiditate similique totam?</p>
<p>Nemo corrupti nesciunt sapiente. Distinctio!</p>
<p>Odit magnam quasi sit alias!</p>
<p>Aut non impedit nostrum voluptates.</p>
<p>Sint facere temporibus consequuntur rerum.</p>
<p>Modi culpa a fugiat molestias?</p>
<p>Ab neque voluptates quis cum.</p>
<p>Ducimus nostrum dicta similique cupiditate!</p>
<p>Sed eos provident et blanditiis?</p>
<p>Et animi quis nisi cumque.</p>
<p>Recusandae nulla facilis provident vitae!</p>
<p>A atque perferendis qui optio.</p>
<p>Accusamus esse assumenda voluptate doloribus!</p>
<p>Officia expedita ratione saepe eum.</p>
<p>Qui quod tempora dolorem cupiditate.</p>
<p>Aut dolorem repellat velit commodi?</p>
<p>Incidunt, fugit. Nam, temporibus eius?</p>
<p>Debitis earum assumenda deserunt dolorem!</p>
<p>Quis rerum reprehenderit vero unde?</p>
<p>Quisquam praesentium cupiditate doloremque voluptas!</p>
<p>Molestiae tempora fugiat exercitationem officiis.</p>
<p>Tenetur voluptatibus nam laudantium quibusdam?</p>
<p>Saepe ad ex deserunt? Laboriosam?</p>
<p>Sapiente corrupti aspernatur nisi quia?</p>
<p>Illo voluptas minus rerum reiciendis!</p>
<p>Impedit veritatis quaerat nobis! Mollitia.</p>
<p>Nulla iure ad nisi accusamus!</p>
<p>Voluptatem et maiores ratione accusantium.</p>
<p>Voluptatum iusto ex recusandae veniam.</p>
<p>Illo, maxime necessitatibus? Cupiditate, saepe?</p>
<p>Fugiat voluptas iusto commodi minima?</p>
<p>Est quam laborum dignissimos alias!</p>
<p>Autem, blanditiis? Culpa, exercitationem aut!</p>
<p>At reprehenderit quas eaque quibusdam?</p>
<p>Corporis illum dolorum totam sequi.</p>
<p>Explicabo rerum aliquid est distinctio.</p>
<p>Ullam cupiditate eius praesentium debitis.</p>
<p>Optio, veritatis! Minima, totam ipsa?</p>
<p>Qui voluptas et consequatur ipsam!</p>
<p>Vero cumque aliquid provident odit.</p>
<p>Eveniet beatae voluptatum accusamus impedit?</p>
<p>Corporis ex perferendis ea quae!</p>
<p>Eos iure id in porro.</p>
<p>Repudiandae similique hic soluta dolorem!</p>
<p>Et necessitatibus quo eius quos.</p>
<p>Consequuntur nostrum consequatur cum veritatis.</p>
{% endblock %}